.header  {
    height: 100vh;
    width: 100vw;  
}
.logo {
  width: 60px;
  position: absolute;
  top: 40px;
  left: 30px
  
}
.fundo {
    height: 100vh;
    width: 100vw;
}

.header h1 {
    width: 200px;
    height: 20px;
    position: absolute;
    top: 140px;
    left: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}
.nome {
    position: absolute;
    top: 10px;
    left: 100px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-size: 41.6633px;
    color: #FFFFFF
}
.header a {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
    border: solid 1px white;
    padding: 8px 40px;
    border-radius: 10px;
    position: absolute;
        top: 30px;
        right: 40px
}
.sexo {
    border: solid 1px white;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 36.3877px;
    padding: 10px 80px;
    background-color: #FFFFFF;
    border-radius: 20px;
    position: absolute;
    top: 500px;
    left: 200px;

}
.desc {
    position: absolute;
    left: 380px;
    top: 585px;
    font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;
  
}



